<h2>Available Rides</h2>
<table>
    <tr><th>ID</th><th>Pickup</th><th>Dropoff</th><th>Time</th><th>Action</th></tr>
    @foreach (var ride in Model)
    {
        <tr>
            <td>@ride.Id</td>
            <td>@ride.Pickup</td>
            <td>@ride.Dropoff</td>
            <td>@ride.ScheduledDateTime.ToString("g")</td>
            <td>
                <form method="post" asp-action="AcceptRide">
                    <input type="hidden" name="rideId" value="@ride.Id" />
                    <button type="submit">Accept</button>
                </form>
            </td>
        </tr>
    }
</table>
